In [ ]:
import pandas as pd
import openpyxl

In [ ]:
# !pip install openpyxl

In [ ]:
uriage_data = pd.read_csv('uriage.csv')
uriage_data.head()

In [ ]:
koyaku_data=pd.read_excel('kokyaku_daicho.xlsx')
koyaku_data.head()

In [ ]:
uriage_data['item_name'].head()

In [ ]:
uriage_data['item_price']

In [ ]:
uriage_data['purchase_date'] = pd.to_datetime(uriage_data['purchase_date'])
uriage_data['purchase_month'] = uriage_data['purchase_date'].dt.strftime('%Y%m')
res = uriage_data.pivot_table(index = 'purchase_month', columns='item_name', aggfunc='size', fill_value=0)
res

In [ ]:
res = uriage_data.pivot_table(index='purchase_month', columns='item_name', values='item_price',aggfunc='sum', fill_value=0)
res

In [ ]:
print(len(pd.unique(uriage_data.item_name)))

In [ ]:
uriage_data.info()

In [ ]:
uriage_data['item_name'].nunique()

In [ ]:
uriage_data['item_name']= uriage_data['item_name'].str.upper()
uriage_data['item_name']= uriage_data['item_name'].str.replace(' ','')
uriage_data.head()

In [ ]:
uriage_data['item_name'].nunique()

In [ ]:
uriage_data.sort_values(by=['item_name'], ascending=True)

In [ ]:
uriage_data['item_name'].unique()

In [ ]:
uriage_data.isnull().any(axis=0)

In [ ]:
uriage_data['item_price'].isnull().sum()

In [ ]:
fig_is_null = uriage_data['item_price'].isnull()

In [ ]:
fig_is_null

In [ ]:
~fig_is_null

In [ ]:
for trg in list(uriage_data.loc[fig_is_null, 'item_name'].unique()):
    price = uriage_data.loc[(~fig_is_null) & (uriage_data['item_name'] == trg), 'item_price'].max()
    uriage_data['item_price'].loc[(fig_is_null) & (uriage_data['item_name'] == trg)] = price

uriage_data.head()

In [ ]:
uriage_data.isnull().any(axis=0)

In [ ]:
for trg in list(uriage_data['item_name'].sort_values().unique()):
    print(trg + '의 최고가:' +  str(uriage_data.loc[uriage_data['item_name'] ==trg]['item_price'].max()) 
          + '의 최저가:' + str(uriage_data.loc[uriage_data['item_name'] == trg]['item_price'].min(skipna=False)))

In [ ]:
koyaku_data['고객이름'].head()

In [ ]:
uriage_data['customer_name'].head()

In [ ]:
koyaku_data['고객이름'] = koyaku_data['고객이름'].str.replace(" ","")
koyaku_data['고객이름'] = koyaku_data['고객이름'].str.replace("  ","")
koyaku_data['고객이름'].head()

In [ ]:
koyaku_data

In [ ]:
uriage_data

In [ ]:
flg_is_serial = koyaku_data['등록일'].astype('str').str.isdigit()

In [ ]:
flg_is_serial.sum()

In [ ]:
fromSerial = pd.to_timedelta(koyaku_data.loc[flg_is_serial]['등록일'].astype('float'),unit='D') + pd.to_datetime('1900/01/01')

In [ ]:
fromSerial

In [ ]:
fromString  = pd.to_datetime(koyaku_data.loc[~flg_is_serial]['등록일'])
fromString

In [ ]:
koyaku_data['등록일'] = pd.concat([fromSerial, fromString])
koyaku_data

In [ ]:
koyaku_data['등록연월']=koyaku_data['등록일'].dt.strftime('%Y%m')
koyaku_data

In [ ]:
rlst=koyaku_data.groupby('등록연월')['고객이름'].count()
print(rlst)
print(len(koyaku_data))

In [ ]:
koyaku_data['등록일'].astype('str').str.isdigit().sum()

In [ ]:
uriage_data

In [ ]:
koyaku_data

In [ ]:
join_data = pd.merge(uriage_data, koyaku_data, left_on='customer_name', right_on='고객이름', how='left')
join_data

In [ ]:
join_data = join_data.drop('customer_name', axis=1)
join_data

In [ ]:
dump_data = join_data[['purchase_date','purchase_month', 'item_name','item_price','고객이름','지역','등록일']]
dump_data

In [ ]:
dump_data.to_csv('dump_data.csv', index=False)

In [ ]:
import gc 
gc.get_count()

In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('dump_data.csv')
data

,purchase_date,purchase_month,item_name,item_price,고객이름,지역,등록일
0,2019-06-13 18:02:00,201906,상품A,100.0,김가온,C시,2017-01-26 00:00:00
1,2019-07-13 13:05:00,201907,상품S,1900.0,김우찬,C시,2018-04-07 00:00:00
2,2019-05-11 19:42:00,201905,상품A,100.0,김유찬,A시,2018-06-19 00:00:00
3,2019-02-12 23:40:00,201902,상품Z,2600.0,김재현,D시,2018-07-22 00:00:00
4,2019-04-22 03:09:00,201904,상품A,100.0,김강현,D시,2017-06-07 00:00:00
...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:00,201902,상품Y,2500.0,김정민,B시,2017-07-01 00:00:00
2995,2019-06-22 04:03:00,201906,상품M,1300.0,김재원,E시,2018-03-31 00:00:00
2996,2019-03-29 11:14:00,201903,상품Q,1700.0,김지율,B시,2017-03-15 00:00:00
2997,2019-07-14 12:56:00,201907,상품H,800.0,김승주,E시,2018-07-15 00:00:00
2998,2019-07-21 00:31:00,201907,상품D,400.0,정준기,B시,2017-02-05 00:00:00

In [5]:
data.pivot_table(index='purchase_month', columns='item_name', aggfunc='size', fill_value=0)

item_name,상품A,상품B,상품C,상품D,상품E,상품F,상품G,상품H,상품I,상품J,...,상품Q,상품R,상품S,상품T,상품U,상품V,상품W,상품X,상품Y,상품Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,18,13,19,17,18,15,11,16,18,17,...,17,21,20,17,7,22,13,14,10,0
201902,19,14,26,21,16,14,14,17,12,14,...,22,22,22,23,19,22,24,16,11,1
201903,17,21,20,17,9,27,14,18,12,16,...,23,16,20,12,23,18,16,21,16,0
201904,17,19,24,20,18,17,14,11,18,13,...,20,20,16,16,11,15,14,16,20,0
201905,24,14,16,14,19,18,23,15,16,11,...,13,22,18,16,16,9,21,16,20,0
201906,24,12,11,19,13,18,15,13,19,22,...,15,16,21,12,18,20,17,15,13,0
201907,20,20,17,17,12,17,19,19,19,23,...,15,19,23,21,13,28,16,18,12,0

In [6]:
data.pivot_table(index='purchase_month', columns='item_name', values='item_price', aggfunc='sum', fill_value=0)

item_name,상품A,상품B,상품C,상품D,상품E,상품F,상품G,상품H,상품I,상품J,...,상품Q,상품R,상품S,상품T,상품U,상품V,상품W,상품X,상품Y,상품Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1800,2600,5700,6800,9000,9000,7700,12800,16200,17000,...,28900,37800,38000,34000,14700,48400,29900,33600,25000,0
201902,1900,2800,7800,8400,8000,8400,9800,13600,10800,14000,...,37400,39600,41800,46000,39900,48400,55200,38400,27500,2600
201903,1700,4200,6000,6800,4500,16200,9800,14400,10800,16000,...,39100,28800,38000,24000,48300,39600,36800,50400,40000,0
201904,1700,3800,7200,8000,9000,10200,9800,8800,16200,13000,...,34000,36000,30400,32000,23100,33000,32200,38400,50000,0
201905,2400,2800,4800,5600,9500,10800,16100,12000,14400,11000,...,22100,39600,34200,32000,33600,19800,48300,38400,50000,0
201906,2400,2400,3300,7600,6500,10800,10500,10400,17100,22000,...,25500,28800,39900,24000,37800,44000,39100,36000,32500,0
201907,2000,4000,5100,6800,6000,10200,13300,15200,17100,23000,...,25500,34200,43700,42000,27300,61600,36800,43200,30000,0